*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 0.875rem;
  background:
  linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
  linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
  linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
  linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
  linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
  linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

  linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
  linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
  linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
  linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
  linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
  linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
  background-color: #232927;
  background-size: 100px 100px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1{
  letter-spacing:0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  background: aqua;
  font-size: 3rem;
  color: rgb(6, 23, 255);
}
p {
  margin-bottom: 1.25rem;
  color: rgb(26, 45, 141);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
    line-height: 1;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  text-align: center;
  background: rebeccapurple;
}

#value {
  font-size: 6rem;
  font-weight: bold;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: #000000;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: all 0.3s linear;;
  font-size: 0.875rem;
  border: 2px solid  #000000;;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0.5rem;
}
.btn:hover {
  color: #ffffff;
  background:#000000;
}
